# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.11.1
absl-py
alembic
annotated-types
antlr4-python3-runtime
anyio
appdirs
asttokens
astunparse
attrs
bcrypt
beautifulsoup4
blas
bleach
blinker
bottleneck
brotli-python
bzip2
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
coloredlogs
comm
confuse
contourpy
cryptography
cycler
databricks-sdk
debugpy
decorator
deprecated
dicomweb-client
diskcache
docker
einops
et-xmlfile
executing
expat
expiring-dict
expiringdict
fastapi
filelock
fire
flask
flatbuffers
fonttools
freetype
frozendict
fsspec
gast
gdown
girder-client
gitdb
gitpython
gmp
gmpy2
google-auth
google-pasta
grad-cam
graphene
graphql-core
graphql-relay
greenlet
grpcio
h11
h5py
html5lib
htmlmin
httpcore
httpx
humanfriendly
hydra-core
icc_rt
icu
idna
imagehash
imageio
importlib-metadata
intel-openmp
iopath
iprogress
ipykernel
ipython
ipywidgets
itk
itk-core
itk-filtering
itk-io
itk-numerics
itk-registration
itk-segmentation
itsdangerous
jedi
jinja2
joblib
jpeg
jsonschema
jupyter_client
jupyter_core
jupyterlab_widgets
kaggle
keras
kiwisolver
krb5
lazy-loader
lcms2
lerc
libabseil
libclang
libclang13
libdeflate
libffi
libiconv
libpng
libpq
libprotobuf
libsodium
libtiff
libtorch
libuv
libwebp-base
libxml2
libxslt
lime
llvmlite
lmdb
lxml
lz4-c
mako
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mdurl
missingno
mkl
mkl-service
mkl_fft
mkl_random
ml-dtypes
mlflow
mlflow-skinny
monai
monailabel
mpc
mpfr
mpmath
multimethod
multitasking
namex
nest-asyncio
networkx
nibabel
ninja
numba
numexpr
numpy
numpy-base
numpymaxflow
omegaconf
onnx
onnxruntime
opencv-python
openjpeg
openpyxl
openslide-python
openssl
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
optree
packaging
pandas
pandas-profiling
parso
passlib
phik
pillow
pip
platformdirs
plotly
ply
portalocker
prompt-toolkit
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pydicom
pydicom-seg
pygments
pyjwt
pynetdicom
pynrrd
pyparsing
pyqt
pyqt5-sip
pyreadline3
pyrsistent
pysocks
python
python-dateutil
python-dotenv
python-multipart
python-slugify
python-tzdata
pytorch-ignite
pytorch-model-summary
pytz
pywavelets
pywin32
pyyaml
pyzmq
qt-main
quantstats
requests
requests-toolbelt
retrying
rich
rsa
sam2
schedule
scikit-image
scikit-learn
scipy
seaborn
seaborn-base
setuptools
shapely
simpleitk
sip
six
sleef
smmap
sniffio
sortedcontainers
soupsieve
sqlalchemy
sqlite
sqlparse
stack_data
starlette
sympy
tabulate
tangled-up-in-unicode
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
text-unidecode
threadpoolctl
tifffile
timeloop
tk
torch
torch-summary
torchaudio
torchinfo
torchsummary
torchvision
tornado
tqdm
traitlets
ttach
typing-extensions
typing_extensions
tzdata
ucrt
unicodedata2
urllib3
uvicorn
vc
vc14_runtime
visions
vs2015_runtime
waitress
watchdog
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
win_inet_pton
wrapt
xz
yaml
yfinance
zeromq
zipp
zlib
zstd
pytorch_grad_cam